.hide{
    display: none !important;
}
.animate1{
    animation: hide 0.5s ease 1;
}
.select{
    border-bottom: 2px solid white;
}
@keyframes hide {
    from{
        opacity: 1;
    }    
    to{
        opacity: 0;
        display: none;
    }
}
.dark{
    background-color: black;
}